body{
background:#f5eee6;
color:#211f3b;
font-family:dm sans;
margin:100px 60px;
line-height:28px;
 -webkit-font-smoothing: antialiased;
}

a, a:visited{
color:#cca6d5;
}

a:hover{
color:#f5703e;
}

h1{
font-size:72px;
letter-spacing:-1.5px;
}

h2{
font-weight:bold;
letter-spacing:-0.5px;
font-size:36px;
}

h4{
color:#cca6d5;
}

dt{
font-weight:bold;
font-size:18px;
letter-spacing:-.5px;
}

dd{
  border-left:2px solid #211f3b;
  padding-left:10px;
}
